/* APP CSS */



.appContainer {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  

  .appTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
   }  
   



  /* FORM CSS */


  .formContainer {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .formTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .formInput:focus {
    outline: none;
    border-color: #66afe9;
  }
  
  .formButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
   
  }

  .formButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .formButton:hover {
    background-color: #0056b3;
  }
  
  .formError {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
  }


  /* CARD CSS */

  .cardContainer {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 20px auto;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardContent {
    font-size: 1.2rem;
    color: #555;
  }